<div class="modal-header">
    <h5 class="modal-title">
        {{ prescription.id ? 'Modifier la prestation' : 'Ajouter une prestation' }}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
</div>

{{ form_start(form, {'attr': {'id': 'prestationForm'}}) }}
<div class="modal-body">
    <div class="row g-3">
        <div class="col-md-12">
            {{ form_row(form.tarifPrestation) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.quantite) }}
        </div>
        <div class="col-md-8">
            {{ form_row(form.instructions) }}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
    <button type="submit" class="btn btn-primary js-submit-prestation">
        <i class="ri-save-line me-1"></i> Enregistrer
    </button>
</div>
{{ form_end(form) }}