{{ form_start(form, {'attr': {'id': 'ConsultationEditForm'}}) }}

<div class="row g-3">
  <div class="col-md-3">{{ form_row(form.poids) }}</div>
  <div class="col-md-3">{{ form_row(form.taille) }}</div>
  <div class="col-md-3">{{ form_row(form.temperature) }}</div>
  <div class="col-md-3">{{ form_row(form.tensionArterielle) }}</div>

  <div class="col-md-3">{{ form_row(form.frequenceCardiaque) }}</div>

  <div class="col-md-3">{{ form_row(form.medecin) }}</div>
  <div class="col-md-3">{{ form_row(form.dossierMedical) }}</div>
  <div class="col-md-3">{{ form_row(form.rendezVous) }}</div>

  <div class="col-md-12">{{ form_row(form.motifs) }}</div>
  <div class="col-md-12">{{ form_row(form.diagnostic) }}</div>

  <div class="col-md-6">{{ form_row(form.facture) }}</div>
</div>

<div class="d-flex justify-content-end mt-4 gap-2">
  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
  <button class="btn btn-primary">Mettre à jour</button>
</div>

{{ form_end(form) }}